*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #f4f4f4;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main.container{
  background-color: #FDFDFD;
  width: 270px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 3px #000;
 border-radius: 5%; 
}

header {
 position: absolute;
 border-radius: 50%;
 background-color: #023047;
 width: 115px;
 height: 115px;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 60px;
}

header .foto{
  border-radius: 50%;
  width: 100px;
}

img.pg {
  width: 250px;
  height: 500px;
  object-fit: cover;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  clip-path: polygon(50% 0%, 100% 0, 100% 35%, 0 16%, 0 0); 
  position: absolute;
}

section .conteudo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 560px;
}


section .conteudo button{
  position: relative;
  z-index: 2;
  margin-top: 10px;
  padding: 10px;
  padding-left: 80px;
  padding-right: 80px;
  border-radius: 40px;
  border: none;
  background-image: linear-gradient(to right, #8060D8, #bdaddf);
  transform: translateY(0px);
  animation: float 5s ease-in-out infinite;
  font-size: 1.1em;
  color: #fff;
  cursor: pointer;
}

section .conteudo button:hover{
  background-image: linear-gradient(to right, #9b83df, #c3bbd3);
}

@keyframes float {
  0%{
      transform: translateY(0px);
  }

  50%{
      transform: translateY(-10px);
  }

  100%{
      transform: translateY(0px);
  }
}

footer.divisao{
  background-color: #023047;
  width: 270px;
  height: 500px;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  clip-path: polygon(0 71%, 100% 90%, 100% 100%, 0 101%);
  border-radius: 5%;
}


span{
  margin: 20px;
  color: #fff;
  font-style: italic;
}


@media(max-width: 400.98px){ 

main.container, footer.divisao, img.pg{
    width: 310px;
}

}

@media(min-width: 401px) and (max-width: 476.98px){ 

  main.container, footer.divisao, img.pg{
      width: 350px;
  }
  
  
  }

  @media(min-width: 477px) and (max-width: 526.98px){ 

    main.container, footer.divisao, img.pg{
        width: 375px;
    }

    header .foto{
      width: 110px;
      height: 110px;
     }
     
     header{
       width: 125px;
       height: 125px;
     }
    
    }

    
  @media(min-width: 527px) and (max-width: 1199.98px){ 

    main.container, footer.divisao, img.pg{
        width: 420px;
        height: 600px;
    }

    header .foto{
      width: 125px;
      height: 125px;
     }
     
     header{
       width: 140px;
       height: 140px;
     }

     section .conteudo{
      height: 630px;
     }

     section .conteudo button{
      padding: 15px;
      margin-top: 20px;
      padding-left: 80px;
      padding-right: 80px;
     }

    
    }

    @media(min-width: 1200px){ 

      main.container, footer.divisao, img.pg{
          width: 490px;
          height: 630px;
      }
  
      header .foto{
        width: 150px;
        height: 150px;
       }
       
       header{
         width: 165px;
         height: 165px;
       }

       section .conteudo{
        height: 671px;
       }

       section .conteudo button{
        padding: 15px;
        margin-top: 20px;
        padding-left: 80px;
        padding-right: 80px;  
       }
      
      }